PORT=3333
SENTINEL_PASSWORD=19!*STmGM!98
#string randomica para ser usada na assinatura de tokens JWT
SESSION_SECRET=In0vpToxydVtM54y21q4Ps_4vyqSD2u3udVEarhG7lOdtiN8
NODE_ENV=production

# Caminho absoluto para a raiz do projeto Entrega Hub na VPS
# Exemplo Linux: /var/www/entrega-hub/api
ENTREGA_HUB_API_DIR=/home/ubuntu/entrega-hub/api

# URL interna de health check da API do Entrega Hub
ENTREGA_HUB_HEALTH_URL=http://localhost:3003/health
